@keyframes drawBranch {
	from {
	  stroke-dasharray: 0 100;
	  stroke-dashoffset: 100;
	}
	to {
	  stroke-dasharray: 100 0;
	  stroke-dashoffset: 0;
	}
  }
  
  .animate-draw-branch {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: drawBranch 1.2s ease-out forwards;
  }
  